<a href="https://colab.research.google.com/github/Carin-Morales/Programacion_III/blob/Practicas_colab/Practicas_de_Programacion_III.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TIPOS DE DATOS

In [ ]:
saludo = "Hola mundo "

print(saludo)

Hola mundo

In [ ]:
num1 = 5
num2 = 7.5
resp = num1 + num2
print("la suma de", num1, "+", num2, "=", resp)

la suma de 5 + 7.5 = 12.5

In [ ]:
name = "Carin Morales"
edad = 24
saludo ="Hola "+ name  + ",Tu edad " + str(edad)
print(saludo)

Hola Carin Morales,Tu edad 24

In [ ]:
nombre = "Carin Sanchez"
print("Mi Nombre: ", nombre, "Iniciales: ", nombre[0], nombre[5], "Longitud: ", len(nombre) )
print("Primer Nombre: ", nombre[0:5])
print("Primer Nombre: ", nombre[:5])
print("Apellido: ", nombre[5:len(nombre)])
print("Apellid: ", nombre[5:])
print("Apellido: ", nombre[-9:])

Mi Nombre:  Carin Sanchez Iniciales:  C   Longitud:  13
Primer Nombre:  Carin
Primer Nombre:  Carin
Apellido:   Sanchez
Apellid:   Sanchez
Apellido:  n Sanchez

In [ ]:
nombre = input ("Dime tu nombre ")
edad = input("Tu edad: ")
saludo = "Hola que tal " + nombre + ", tu edad: " + edad
print(saludo)

Dime tu nombre carin
Tu edad: 24
Hola que tal carin, tu edad: 24

In [ ]:
numero1 = float(input("Dijite un numero "))
numero2 = float(input("Digite otro numero "))
res = numero1 + numero2
print("la suma es:", res)

Dijite un numero 4.2
Digite otro numero 4
la suma es: 8.2

In [ ]:
numero1 = float(input("Numero 1: "))
numero2 = float(input("Numero 2: "))
res = numero1 - numero2
print("la resta es:", res)

Numero 1: 10
Numero 2: 2.5
la resta es: 7.5

In [ ]:
numero1 = float(input("Numero 1: "))
numero2 = float(input("Numero 2: "))
res = numero1 * numero2
print("la multiplicacion es:", res)

Numero 1: 2
Numero 2: 2
la multiplicacion es: 4.0

**FUNCIONES DE USUARIO**

* Convertir grados celsius a farenheit.

In [ ]:
def convertir(c):
    return c*9/5 + 32

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir(c))

Celsius: 55
F:  131.0

In [ ]:
def convertir_c(c):
    return  c + 273.15

In [ ]:
c = float(input("c: "))
print("k: ", convertir_c(c))

c: 4
k:  277.15

In [ ]:
def convertir_f(F):
 return  (F-32)* 5/9

In [ ]:
 F = float(input("f: "))
 print("c: ", convertir_f(F))

f: 3
c:  -16.11111111111111

* CALCULAR EL SUELDO MENSUAL

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if(numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
  #isss + afp = 3 + 6.25 = 9.25 = 100 - 9.25 = 90.75/100 = 0.9075
  #sueldo = sueldo*0.9075
  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11,9999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  impSr = 0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr = (sueldoNeto-tramo[0])*tramo[2] + tramo[3]
  return impSr

In [ ]:
valorXhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print( "Sueldo: ", s, "ISR: ", isr, s*0.9075-isr )

Horas trabajadas: 36
Sueldo:  11040.0 ISR:  2682.777 7336.022999999999

**FUNCIONES LAMBDA**
* FUNCIONES PRECONTRUIDAS MAP, FILTER, FIND, REDUCE, ETC.

In [ ]:
def elevarCuadrado(num):
  return num**2

In [ ]:
data = [1,2,3,4,5]

In [ ]:
resp = map(elevarCuadrado, data)
print(list(resp))

[1, 4, 9, 16, 25]

In [ ]:
resp = map(lambda n:n**2, data)
print(list(resp))

[1, 4, 9, 16, 25]

In [ ]:
resp = filter(lambda n:n>2, data)
print( list(resp) )

[1]

In [ ]:
resp = functools.reduce(lambda a,n:a+n, data)
print(resp)

15

**TUPLAS**

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
#semana[0] = "otro"
print( semana.count("domingo") ) #count cuenta el numero de veces que aparece un elemento en la tupla
print( len(semana) )

1
7

**LISTAS** => **Array**

In [ ]:
meses = ["ene", "feb", "mar", "abr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dic"]
print( meses[-2:] ) #ultimos dos meses del año
print( meses[:2] ) #primero dos meses del año

meses[0] = "enero"

print( meses )

['nov', 'dic']
['ene', 'feb']
['enero', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic']

In [ ]:
materias = [ ["Progra I", [5,6,8], [8,7,9], [9,10,9] ], ["Progra II"] ]
print( materias[1][0] )

Progra II

**DICCIONARIOS** => **JSON**

In [ ]:
materias = {
    "Progra I": {
        "c1": {
          "lab1" : 5,
          "lab2" : 6,
          "parcial" : 8
      },
      "c2": {
          "lab1" : 8,
          "lab2" : 7,
          "parcial" : 9
      },
      "c3": {
          "lab1" : 9,
          "lab2" : 10,
          "parcial" : 9
      }
    },
    "Progra II" :{

    }
}
print( materias["Progra I"]["c1"]["lab1"] )

5

**LISTAS**

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp = map(lambda n:n**3, data)
print(list(resp))

[8, 125, 216, 512, 729]

In [ ]:
f = map(lambda c:c*9/5 + 32, data)
print( list(f) )

[35.6, 41.0, 42.8, 46.4, 48.2]

In [ ]:
pares = filter(lambda n:n%2==0, data)
print( list(pares) )

[2, 6, 8]

In [ ]:
impares = filter(lambda n:n%2!=0, data)
print( list(impares) )

[5, 9]

**CICLOS**
* FOR

In [ ]:
for item in data:
  print(item)

* WHILE

In [ ]:
i=0
n = len(data)
while i<n:
  print( data[i] )
  i+=1

**TABLA DE MULTIPLICAR**

In [ ]:
n = int(input("N Tabla: "))

for i in range(1,11):
  print( n, "x", i, "=", n*i )

In [ ]:
edad = int(input("Edad: "))

if edad<=2:
  print("soy un bebe")
elif edad<=11:
  print("Soy un niño")
elif edad<18:
  print("Soy un adolescente")
elif edad<=65:
  print("soy mayor de edad")
elif edad<=85:
  print("Soy un adulto mayor")
else:
  print("Larga vida")

Edad: 5
Soy un niño

In [ ]:
lista = [5,8,9,15,7,9,2,3, 2, 1]

In [ ]:
mayor = 0
for num in lista:
  if num>mayor:
    mayor = num
print("EL numero mayor de la lista: ", lista, "es: ", mayor)

EL numero mayor de la lista:  [5, 8, 9, 15, 7, 9, 2, 3, 2, 1] es:  15

In [ ]:
mayor = 0
i=0
n=len(lista)
while i<n:
  if lista[i]>mayor:
    mayor = lista[i]
  i+=1
print(mayor)

15

**Escribir un programa que pida la nota de un examen (0-10), e imprima por pantalla la calificacion en formato: "Suspenso" si la nota es menor a 5, "Aprobado" si es entre 5 inclusive, y 7 sin incluir, "Notable" si esta entre 7 inclusive y 9 sin incluir, "Sobresaliente" si esta entre 9 inclusive y 10 sin incluir, y "Honorable" si es 10**

In [ ]:
nota = float(input("Nota: "))
if(nota<0 or nota>10):
  print("Nota invalida")
elif(nota<5):
  print("SUPENSO")
elif(nota<7):
  print("APROBADO")
elif(nota<9):
  print("NOTABLE")
elif(nota<10):
  print("SOBRESALIENTE")
else:
  print("HONORABLE")

Nota: 10
HONORABLE

**Escriba un programa que muestre la secuencia fibonacci**

In [ ]:
limit = int(input("Limit: "))
a=0
b=1
c=0
while c<limit:
  c=a+b
  print(a,"+",b,"=", c)
  b=a
  a=c

1. **Escriba un programa que encuentre la media aritmetica de una serie de numeros introducidos por el usuario**
2. **Escriba un programa que determine si una palabra introducida por el usuario es palindrome o no, ejm. de palabras palindrome: Ana, oso, oro, etc.**
3. Escriba un programa que convierta un numero instroducido por el usuario a su equivalente en numeros romanos. Ejm: 5 -> V

**parcial** **I**

Conversor de Area

In [ ]:
area = {
"mc": (1.0 , "metro cuadrado"),
"vc": (25.29, "vara cuadrada"),
"pc": (10.7639, "Pie cuadrado"),
"yc": (1.2, "yarda cuadrada"),
"tr": (0.002285714285714285714286, "tareas"),
"mz": (0.000143327, "Manzana"),
"h": (0.0001, "hectareas")
}

def conversor_area():
    while True:
        print("\033[92m" + "Unidades Disponibles" + "\033[0m")
        for unidad in area:
           print(unidad + ": " + area[unidad][1])


        convertir_de = ""
        convertir_a = ""
        while convertir_de not in area :
            convertir_de = input("Convertir de:  ")
            if convertir_de not in area:
             print("unidad no válida. Inténtelo nuevamente.")

        while convertir_a not in area:
            convertir_a = input("Convertir a: ").lower()
            if convertir_a not in area:
             print("unidad no válida. Inténtelo nuevamente.")

        while True:
           cantidad_input = input(f"Ingrese la cantidad a convertir {convertir_de}: ")
           try:
              cantidad = float(cantidad_input)
              break
           except ValueError:
            print("Ingrese un valor numérico válido.")
        origen = area[convertir_de][0]
        destino = area[convertir_a][0]

        operacion = (destino / origen) * cantidad

        if operacion <= 0:
           print("La conversión no es posible. Introdusca una cantidad superior a 0.")
        elif operacion < 0.001 or operacion >= 100000000000:
          print(f"{cantidad:.2f} {convertir_de} es igual a {operacion:.2e} {convertir_a}. en notación científica")
        else:
          print(f"{cantidad:.2f} {convertir_de} es igual a {operacion:.3f} {convertir_a}.")

        salir = input("¿Deseas seguir en el conversor? (si) para continuar o cualquier otra tecla para salir")
        if salir.lower() != "si":
         break


if __name__ == "__main__":
    conversor_area()

Unidades Disponibles
mc: metro cuadrado
vc: vara cuadrada
pc: Pie cuadrado
yc: yarda cuadrada
tr: tareas
mz: Manzana
h: hectareas
Convertir de:  mc
Convertir a: mz
Ingrese la cantidad a convertir mc: 25
25.00 mc es igual a 0.004 mz.
¿Deseas seguir en el conversor? (si) para continuar o cualquier otra tecla para salir